:root {
    --primary-color: #009688;
    --gray-color: #757575;
    --dark-opacity-color: rgba(0,0,0,0.6);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-family: "Roboto", sans-serif;
    font-size: 62.5%;
    line-height: 1.5;
}

ul {
    list-style: none;
}

hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0;
}

i{
    font-size: 1.8rem;
    color: var(--primary-color) !important;
    width: 35px;
}

.item-heading {
    font-size: 1.8rem;
    font-weight: bolder;
    margin: 18px 0;
    color: rgba(0, 0, 0, 0.55);
}

.no-gutter {
    margin-left: 0;
    margin-right: 0;
}